* {
  padding: 0px;
  margin: 0px;
}

.app {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

button {
  margin: 20px;
  padding: 12px 20px;
  border: none;
  outline: none;
}

p {
  margin: 20px;
}

button:hover {
  background-color: antiquewhite;
}

button:active {
  background-color: aquamarine;
}
